{% extends '@app/admin_base.html.twig' %}
{% block title %}
  Продукты
{% endblock %}
{% block content %}
  <div class="panel">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h3 class="text-center">
            Всего продуктов ({{ products.getTotalItemCount }})
          </h3>
        </div>
        <div class="col-xs-2 text-right">
          <a href="{{ path('product_create') }}" class="btn bg-green-600">
            <i class="icon-plus3"></i>
            Создать
          </a>
        </div>
      </div>
    </div>

    <div class="panel-body">
      {% if products.getTotalItemCount %}
        <div class="table-responsive table-padding-85" style="padding-bottom: 35px">
          <table class="table table-hover table-striped">
            <thead>
            <tr class="bg-green-600">
              <th>{{ knp_pagination_sortable(products, 'ID', ['p.id']) }}</th>
              <th>{{ knp_pagination_sortable(products, 'Категория', ['c.title']) }}</th>
              <th>{{ knp_pagination_sortable(products, 'Название', ['p.title']) }}</th>
              <th>{{ knp_pagination_sortable(products, 'Описание', ['p.description']) }}</th>
              <th>{{ knp_pagination_sortable(products, 'Дата', ['p.createdAt']) }}</th>
              <th>Действия</th>
            </tr>
            </thead>

            <tbody>
            {% for product in products %}
              <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.category.title }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.createdAt | date("Y/m/d H:i:s") }}</td>
                <td>
                  <ul class="icons-list">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-right">
                          {% if product.isHide %}
                            <li>
                              <a href="{{ path('product_show', {'id': product.getId}) }}">
                                <i class="icon-eye text-blue"></i>
                                Показать
                              </a>
                            </li>
                          {% else %}
                            <li>
                              <a
                                  href="{{ path('product_hide', {'id': product.getId}) }}">
                                <i class="icon-eye-blocked text-blue"></i>

                                Скрыть
                              </a>
                            </li>
                          {% endif %}
                        <li>
                          <a href="{{ path('product_edit', {'id': product.getId}) }}">
                            <i class="icon-pencil3"></i>
                            Изменить
                          </a>
                        </li>
                        <li>
                          <a
                              href="{{ path('product_remove', {'id': product.getId}) }}"
                              onclick="return confirm('Вы действительно хотите удалить этот продукт?')"
                          >
                            <i class="icon-trash text-danger"></i>
                            Удалить
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
            {% if products.getTotalItemCount >= 20 %}
              <div class="panel-body text-center">
                  {{ knp_pagination_render(products, 'AppBundle:Pagination:pagination.html.twig') }}
              </div>
            {% endif %}
        </div>

      {% else %}
        <div class="panel panel-body">
          <h2 class="text-center">
            У вас нет продуктов
          </h2>
        </div>
      {% endif %}
    </div>
  </div>

  <style>
    th a {
      color: white;
    }
  </style>
{% endblock %}
