
.row {
    display: inline-block;
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.66666667%;
}
.col-xs-pull-10 {
    right: 83.33333333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.66666667%;
}
.col-xs-pull-7 {
    right: 58.33333333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.66666667%;
}
.col-xs-pull-4 {
    right: 33.33333333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.66666667%;
}
.col-xs-pull-1 {
    right: 8.33333333%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.66666667%;
}
.col-xs-push-10 {
    left: 83.33333333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.66666667%;
}
.col-xs-push-7 {
    left: 58.33333333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.66666667%;
}
.col-xs-push-4 {
    left: 33.33333333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.66666667%;
}
.col-xs-push-1 {
    left: 8.33333333%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-0 {
    margin-left: 0;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
}




.img-grayscale {
    filter: grayscale(100%);
    transition: filter .5s;
}

.img-grayscale:hover {
    filter: grayscale(0%);
}

.bg-green {
    background-color: #8aab15 !important;
}

.green-button {
    background-color: #8aab15 !important;
    border: none !important;
    padding: 20px !important;
    color: #fff !important;
    box-shadow: none;
}

.green-button:hover {
    background-color: #8aab15 !important;
    color: #fff !important;
    opacity: .8;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
    text-shadow: none !important;
    outline: none !important;
}

.green-link:hover {
    color: #8aab15 !important;
}

.backtotop:hover {
    background-color: #8aab15 !important;
}

.navbar.is-fresh .navbar-item:hover {
    color: #8aab15 !important;
}

.green-color {
    color: #8aab15;
}

.grey-color {
    color: #98a9c3;
}

.grey-color:hover {
    color: #98a9c3 !important;
}

.outer-circle {background: linear-gradient(to top right, #BDDC28, #8aab15);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
}
.inner-circle {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    height: 95%;
    width: 95%;
    top: 50%;
    left: 50%;
    margin: -47.5% 0px 0px -47.5%;
    color: #444f60;
    font-size: 3.5rem;
    line-height: 340%;
}

.subtext-circle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444f60;
}

.auto-scroll {
    overflow-x: auto;
}

span.icon-scroll, span.icon-scroll:before {
    position: absolute;
    left: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

span.icon-scroll {
    top: -10px;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #000;
    border-radius: 50px;
}

.scroll-button {
    position: absolute;
    bottom: 0;
    left: calc(50% - 97px);
    z-index: 2;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    font: normal 400 20px/1 Josefin Sans,sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    padding-top: 60px;
}

.news-image {
    background-image: url(../images/illustrations/example.jpg);
    background-repeat: no-repeat;
    background-size: 100%, auto;
    height: 160px !important;
    padding: 0;
}

.no-padding {
    padding: 0;
}

.news-block {
    background-color:#fff;
    border-radius:3px;
    border: 3px solid #ededed;
    transition: border .5s;
    height: auto;
}

.news-block:hover {
    border: 3px solid #8aab15
}

.news-card {
    width: 100%;
}

.card-date {
    text-align: right;
    color: #444f60;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px;
}

.news-card-image {
    display: block;
    background-image: url(../images/illustrations/example.jpg);
    background-repeat: no-repeat;
    background-size: 100%, auto;
    max-height: 400px;
    min-height: 400px;
    padding: 0;
    opacity: .25;
}

.news-card-title {
    top: 190px;
    position:absolute;
    width: 100%;
    z-index: 1;
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.new-black-block{
    background-color: #000;
    min-width: 600px;
}

.inline-block{
    display: inline-block;
}

.block{
    display: block;
}

.partners-map {
    display: block;
    padding: 0;
}

@media (min-width: 992px) {
    .partners-content {
        width: 100%;
        margin-top: 10%;
    }

    .partners-map {
        min-height: 600px;
        height: auto;
        background-image: url(../images/illustrations/map.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 1200px) {
    .partners-content {
        width: 85%;
        margin-top: 100px;
    }
}

.partners-img {
    display: inline-block;
    height: 100px;
}

.partners-text {
    opacity: 0;
    position: absolute;
    background-color: #000;
    text-align: center;
    height: 100px;
    color: #fff;
    transition: opacity .3s;
}

.partners-text:hover {
    opacity: .7;
}


.contact-title {
    font-size: 2rem !important;
    margin-bottom: 10px !important;
}

.contact-subtitle {
    font-size: 1rem !important;
    margin-bottom: 10px !important;
}

.fs-1 {
    font-size: 1rem !important;
}

.fs-2 {
    font-size: 2rem !important;
}

.pr-5 {
    padding-right: 5px;
}

.products-title {
    font-size: 1.5rem !important;
    margin-bottom: 10px !important;
}

.products-subtitle {
    font-size: .9rem !important;
    margin-bottom: 10px !important;
}

.products-unit-title {
    font-size: 1.2rem !important;
    margin-bottom: 10px !important;
    color: #000;
    font-weight: 600;
}

.products-unit-description {
    font-size: 1rem !important;
    margin-bottom: 10px !important;
    color: #000;
}

.products-find-block {
    display: block;
    position: fixed;
    padding: 10px;
    width: 265px;
    background-color: #fff;
    z-index: 50;
    left: 60px;
    top: 0;
    transform: translateY(663px);
    box-shadow: 0 8px 40px 0 rgba(0,0,0,.2);
    height: calc(100vh - 70px);
    overflow: auto;
}

.finder-display {
    display: none;
}

@media (min-width: 1200px) {
    .finder-display {
        display: block;
    }
}

.green-products-link {
    display: block;
    color: #999;
    padding: 5px;
}
.green-products-link:hover {
    color: #8aab15;
}

.finder-fixed {
    margin-left: 3%;
    position: fixed;
}


.about-main-block {
    background-image: url(../images/illustrations/about_back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.about-main-block-text {
    background-color: hsla(0, 0%, 100%, .75);
    color: #000;
    border-radius: 10px;
}

.no-overflow {
    overflow-x: hidden;
}

.shadow {
    box-shadow: 0 2px 0 0 #f5f5f5;
}

.product-img {
    height: auto;
}

@media (min-width: 720px) {
    .products-title {
        font-size: 1.5rem !important;
        margin-bottom: 10px !important;
    }
    .product-img {
        height: 200px;
    }
    .about-main-block-text {
        padding: 20px 35px;
    }
    .about-main-block {
        padding: 20px;
    }
}

@media (max-width: 720px) {
    .partners-img {
        width: auto;
        height: auto;
    }
}

@media (max-width: 1199px) {
    .products-find-block {
        display: none;
    }
    .md-hide {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .lg-hide {
        display: none !important;
    }
}