<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> БИЯМИ | {% block title %} {% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ asset('admin/assets/images/logo.png') }}">

  <!-- Global stylesheets -->
  {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('admin/assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('admin/assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('admin/assets/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('admin/assets/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('admin/assets/css/colors.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('admin/assets/css/extras/animate.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('admin/assets/css/extras/style.css') }}" rel="stylesheet" type="text/css">
  {% endblock %}
  <!-- /global stylesheets -->
</head>

<body class="layout-boxed navbar-top">

<!-- Main navbar -->
<div class="navbar navbar-inverse bg-state navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{ path('admin_order_list') }}" style="padding-top: 0; padding-bottom: 0;">
      <img src="{{ asset('admin/assets/images/logo.png') }}" alt="" style="width: 80px; height: 58px; display: inline-block">
    </a>

    <ul class="nav navbar-nav visible-xs-block">
      <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
    </ul>
  </div>

  <div class="navbar-collapse collapse" id="navbar-mobile">
    <ul class="nav navbar-nav">
      <li>
        <a href="{{ path('admin_order_list') }}" class="dropdown-toggle">
          Заказы
        </a>
      </li>
      <li>
        <a href="{{ path('industry_all') }}" class="dropdown-toggle">
          Отрасль
        </a>
      </li>
      <li>
        <a href="{{ path('category_all') }}" class="dropdown-toggle">
          Категории
        </a>
      </li>
      <li>
        <a href="{{ path('product_all') }}" class="dropdown-toggle">
          Продукты
        </a>
      </li>
      <li>
        <a href="{{ path('news_all') }}" class="dropdown-toggle">
          Новости
        </a>
      </li>
      <li>
        <a href="{{ path('partner_all') }}" class="dropdown-toggle">
          Партнёры
        </a>
      </li>
    </ul>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ path('fos_user_security_logout') }}" class="dropdown-toggle">
            Выход
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

    </div>

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->


{% block javascripts %}
  <script type="text/javascript" src="{{ asset('admin/assets/js/plugins/loaders/pace.min.js') }}"> </script>
  <script type="text/javascript" src="{{ asset('admin/assets/js/core/libraries/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/assets/js/core/libraries/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/assets/js/plugins/loaders/blockui.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/assets/js/core/libraries/jasny_bootstrap.min.js') }}"></script>

  <script type="text/javascript" src="{{ asset('admin/assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/assets/js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>

  <script type="text/javascript" src="{{ asset('admin/assets/js/pages/uploader_bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/assets/js/plugins/uploaders/fileinput.min.js') }}"></script>

  <script type="text/javascript" src="{{ asset('admin/assets/js/core/app.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/assets/js/plugins/ui/ripple.min.js') }}"></script>

  <script type="text/javascript" src="{{ asset('admin/assets/js/plugins/forms/selects/select2.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/assets/js/pages/form_layouts.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/assets/js/plugins/editors/summernote/summernote.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/assets/js/pages/editor_summernote.js') }}"></script>
{% endblock %}

</body>
</html>
