{% extends '@app/admin_base.html.twig' %}
{% block title %}
  Изменение категории
{% endblock %}

{% block content %}
  {{ form_start(form)  }}
    <div class="content">
      <div class="panel center-block">
        <div class="panel-heading text-center">
          <div class="icon-object border-green-600 text-green-600"><i class="icon-pencil"></i></div>
          <h5 class="content-group"> Изменение категории <small class="display-block">Заполните все поля</small></h5>

        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6 col-md-offset-5 col-md-offset-1">
                <div class="form-group">
                    {{ form_row(form.title, {'attr': {class: 'form-control'}}) }}
                </div>
              </div>

              <div class="col-xs-4 col-md-4">
                <div class="media-body text-center">
                    {{ form_row(form.industry, {'attr': {class: 'select'}}) }}
                </div>
              </div>

              <div class="col-xs-6 col-xs-offset-3">
                <br>
                <div class="media-body text-center">
                    {{ form_row(form.file, {'attr': {'class': 'file-input-custom', 'data-show-upload': "false", 'data-show-caption': "false", 'accept': "image/*"}}) }}
                </div>
                <br>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                  <button type="submit" class="btn bg-green-600  legitRipple" name="register_button"> Сохранить </button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-right">
                  <a href="{{ path('category_all') }}" class="btn bg-slate-800 legitRipple"> Отмена <i class="icon-cross2 position-right"></i></a>
                </div>
              </div>
            </div>
          </div>

            {% for error in errors %}
              <div style="padding-left:30px;">
                <p class="label label-danger">{{ error }}</p><br>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}