{% extends '@app/admin_base.html.twig' %}
{% block title %}
  Категории
{% endblock %}
{% block content %}
  <div class="panel">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h3 class="text-center">
            Всего категорий ({{ categories.getTotalItemCount }})
          </h3>
        </div>
        <div class="col-xs-2 text-right">
          <a href="{{ path('category_create') }}" class="btn bg-green-600">
            <i class="icon-plus3"></i>
            Создать
          </a>
        </div>
      </div>
    </div>

    <div class="panel-body">
      {% if categories.getTotalItemCount %}
        <div class="table-responsive table-padding-85" style="padding-bottom: 115px">
          <table class="table table-hover table-striped">
            <thead>
            <tr class="bg-green-600">
              <th>{{ knp_pagination_sortable(categories, 'ID', ['c.id']) }}</th>
              <th>{{ knp_pagination_sortable(categories, 'Название', ['c.title']) }}</th>
              <th>{{ knp_pagination_sortable(categories, 'Изображение', ['c.imageUrl']) }}</th>
              <th>{{ knp_pagination_sortable(categories, 'Тип', ['c.type']) }}</th>
              <th>{{ knp_pagination_sortable(categories, 'Дата', ['c.createdAt']) }}</th>
              <th>Действия</th>
            </tr>
            </thead>

            <tbody>
            {% for category in categories %}
              <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td><img style="width: 65px" src="{{ asset(category.getImage) }}" alt="{{ category.title }}"></td>
                <td>{{ category.getTypeName }}</td>
                <td>{{ category.createdAt | date("Y/m/d H:i:s") }}</td>
                <td>
                  <ul class="icons-list">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                          <a href="{{ path('category_edit', {'id': category.getId}) }}">
                            <i class="icon-pencil3"></i>
                            Изменить
                          </a>
                        </li>
                        <li>
                          <a
                              href="{{ path('category_remove_image', {'id': category.getId}) }}"
                              onclick="return confirm('Вы действительно хотите удалить это изображение?')"
                          >
                            <i class="icon-file-minus2 text-danger"></i>
                            Удалить картинку
                          </a>
                        </li>
                        <li>
                          <a
                              href="{{ path('category_remove', {'id': category.getId}) }}"
                              onclick="return confirm('Вы действительно хотите удалить эту категорию?')"
                          >
                            <i class="icon-trash text-danger"></i>
                            Удалить
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
            {% if categories.getTotalItemCount >= 20 %}
              <div class="panel-body text-center">
                  {{ knp_pagination_render(categories, 'AppBundle:Pagination:pagination.html.twig') }}
              </div>
            {% endif %}
        </div>

      {% else %}
        <div class="panel panel-body">
          <h2 class="text-center">
            У вас нет категорий
          </h2>
        </div>
      {% endif %}
    </div>
  </div>

  <style>
    th a {
      color: white;
    }
  </style>
{% endblock %}
