{% set position = position|default('left') %}
{% set rounded = rounded|default(false) %}
{% set size = size|default(null) %}

{% if position != 'left' %}{% set classes = classes|merge(['is-' ~ position]) %}{% endif %}
{% if rounded %}{% set classes = classes|merge(['is-rounded']) %}{% endif %}
{% if size != null %}{% set classes = classes|merge(['is-' ~ size]) %}{% endif %}

{% if pageCount > 1 %}

    <div class="heading-elements text-center">
        <ul class="pagination pagination-flat pagination-sm">
            <li>
                {% if previous is defined %}
                    <a class="pagination-previous" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">←</a>
                {% else %}
                    <a class="pagination-previous" disabled>←</a>
                {% endif %}
            </li>

            {% for page in pagesInRange %}
                    {% if page == current %}
                        <li class="active">
                            <a class="pagination-link" disabled href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                        </li>
                    {% endif %}
            {% endfor %}
            <li>

                {% if next is defined %}
                    <a class="pagination-next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">→</a>
                {% else %}
                    <a class="pagination-next" disabled>→</a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endif %}