<template>
  <div id="backtotop">
    <a
      href="#"
      @click.stop.prevent="handleClick"
      class="backtotop"
    >
      <v-icon name="arrow-up"></v-icon>
    </a>
  </div>
</template>

<script>
export default {
  name: 'BackToTopButton',
  mounted() {
    window.addEventListener('scroll', function () {
      if (this.scrollY >= 600) {
        document.getElementById("backtotop").classList.add('visible');
      } else {
        document.getElementById("backtotop").classList.remove('visible');
      }
    });
  },
  methods: {
    handleClick() {
      document.body.scrollIntoView({
        behavior: 'smooth',
        block: 'start'
      });
    }
  }
}
</script>
