<template>
  <div
    id="contact-modal"
    class="modal is-active"
  >
    <div class="modal-background" />

    <div class="modal-content">
      <div class="flex-card auth-card">
        <div class="tabs-wrapper">
          <div class="tabs">
            <ul>
              <li class="is-active" style="width: 100%">
                <a>
                  Сделать заказ
                </a>
              </li>
            </ul>
          </div>

          <div id="login-tab" class="tab-content is-active">
            <CallRequestCreateForm
              @close="close"
            />
          </div>
        </div>
      </div>
    </div>

    <button
      class="modal-close is-large"
      aria-label="close"
      @click="close"
    />
  </div>
</template>

<script>
import CallRequestCreateForm from '../pages/Contacts/CallRequestCreateForm';

export default {
  name: 'CallRequestModal',
  components: {
    CallRequestCreateForm
  },
  data() {
    return {
      isScrolled: window.scrollY > 50
    }
  },
  mounted() {
    document.body.appendChild(this.$el);
    document.getElementsByTagName('html')[0].style.overflowY = 'hidden';

    this.toggleCloneNavbarIsActive();
  },
  beforeDestroy() {
    if (this.$el.parentNode) {
      this.$el.parentNode.removeChild(this.$el);
    }

    document.getElementsByTagName('html')[0].style.overflowY = 'auto';

    this.toggleCloneNavbarIsActive();
  },
  methods: {
    close() {
      this.$destroy();
    },
    toggleCloneNavbarIsActive() {
      if (this.isScrolled) {
        const cloneNavbar = document.getElementById('navbar-clone');

        if (cloneNavbar) {
          cloneNavbar.classList.toggle('is-active');
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .modal-content {
    align-items: center;
    display: flex;
  }
</style>
