<template>
  <section
    id="callRequest"
    class="section section-light-grey is-medium"
    style="padding: 64px 24px"
  >
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">
          Сделать заказ
        </h2>

        <h3 class="subtitle is-5 is-muted">
          Будьте добры, заполните все поля
        </h3>

        <div class="divider is-centered bg-green" />
      </div>

      <div class="content-wrapper">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <form @submit.prevent="submit">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <input
                    v-model="callRequest.name"
                    class="input is-medium"
                    type="text"
                    placeholder="Введите ваше имя"
                  >
                </div>

                <div class="column is-6">
                  <input
                    v-model="callRequest.phone"
                    placeholder="+375 XX XXX-XX-XX"
                    class="input is-medium"
                    type="text"
                  >
                </div>

                <div class="column is-12">
                  <textarea
                    v-model="callRequest.order"
                    class="textarea"
                    rows="8"
                    placeholder="Ваш заказ ..."
                  />
                </div>

                <div class="form-footer has-text-centered mt-10">
                  <button
                    class="button cta is-large primary-btn raised is-clear"
                    style="background-color: #7d9608; border: #7d9608 solid 1px"
                  >
                    Отправить
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import VueRecaptcha from 'vue-recaptcha';
import { AsYouType, parsePhoneNumberFromString } from 'libphonenumber-js';
import axios from 'axios';

export default {
  name: 'CallRequestForm',
  components: {
    VueRecaptcha
  },
  data() {
    return {
      isPhoneValid: false,
      callRequest: {
        name: '',
        phone: '',
        order: ''
      }
    }
  },
  watch: {
    'callRequest.phone'(phone) {
      const formattedPhone = new AsYouType().input(phone);
      const phoneNumber = parsePhoneNumberFromString(formattedPhone);

      if (formattedPhone !== phone) {
        this.callRequest.phone = formattedPhone;
      }

      this.isPhoneValid = phoneNumber !== undefined && phoneNumber.isValid() && phoneNumber.isPossible();
    }
  },
  methods: {
    submit() {
      // this.$refs.recaptcha.execute();
      if (this.isPhoneValid && this.callRequest.name.length > 0) {
        axios.post('/order/create', this.callRequest)
          .then(() => {
            this.callRequest = {
              name: '',
              phone: '',
              order: ''
            };
          });
      }
    },
    onCaptchaVerified(recaptchaToken) {
      this.$refs.recaptcha.reset();

      axios.post('/api/review/create', {
        email: this.email,
        password: this.password,
        recaptchaToken: recaptchaToken
      });
    },
    onCaptchaExpired() {
      this.$refs.recaptcha.reset();
    }
  }
}
</script>
