<template>
  <a @click="scrollToCallRequestForm">
    <slot />
  </a>
</template>

<script>
export default {
  name: 'ModalOpenButton',
  methods: {
    scrollToCallRequestForm() {
      const callRequestForm = document.getElementById('callRequest');

      if (callRequestForm !== undefined) {
        callRequestForm.scrollIntoView({
          behavior: 'smooth',
          block: 'start'
        });
      }
    }
  }
}
</script>
