<template>
  <footer class="footer footer-dark">
    <div class="container">
      <div class="columns">
        <div style="margin-right: 10px; margin-left: 20px; margin-top: 25px">
            <router-link :to="{ name: 'home' }" class="footer-logo">
              <img
                src="../../assets/images/logo.png"
                alt="logo"
                width="32"
                height="38"
              >
            </router-link>
        </div>

        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
              <h3 style="margin-bottom: 0px">
                ООО «БИЯМИ»
              </h3>

              <ul class="link-list">
                <li>
                  <p class="grey-color" style="margin-bottom: 15px">
                    Территория правильного вкуса
                  </p>
                </li>

                <li>
                  <scroll-to-call-request-form class="button rounded raised green-button">
                    Сделать заказ
                  </scroll-to-call-request-form>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
              <h3>Навигация</h3>
            </div>

            <ul class="link-list">
              <li>
                <router-link :to="{ name: 'aboutCompany' }">
                  О компании
                </router-link>
              </li>

              <li>
                <router-link :to="{ name: 'news' }">
                  Новости
                </router-link>
              </li>

              <li>
                <router-link :to="{ name: 'products' }">
                  Продукция
                </router-link>
              </li>

              <li>
                <router-link :to="{ name: 'partners' }">
                  Партнёры
                </router-link>
              </li>

              <li>
                <router-link :to="{ name: 'contacts' }">
                  Контакты
                </router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="column">
          <div class="footer-column">
            <div class="footer-header">
              <h3>Контакты</h3>

              <ul class="link-list">
                <h5> Адрес </h5>
                <li><p class="grey-color">Республика Беларусь, 220005, г. Минск, ул. Гикало д.20, оф.2 </p></li>
                <h5> Телефон/Факс </h5>
                <li><p class="grey-color">8 (017) 353-03-00 (01, 02, 03)</p></li>
                <h5> Email </h5>
                <li><p class="grey-color">info@biyami.by</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  import ScrollToCallRequestForm from './ScrollToCallRequestForm.vue';

  export default {
    name: 'TheFooter',
    components: {
      ScrollToCallRequestForm
    }
  }
</script>
