<template>
  <nav class="navbar is-fresh is-transparent shadow" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <router-link
          :to="{ name: 'home' }"
          class="navbar-item router-link-exact-active router-link-active"
        >
          <img
            src="../../assets/images/logo.png"
            alt="logo"
            width="32"
            height="38"
          >
        </router-link>

        <a
          ref="hamburger"
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          @click="handleNavbarHamburgerClick"
        >
          <span aria-hidden="true" />
          <span aria-hidden="true" />
          <span aria-hidden="true" />
        </a>
      </div>

      <div
        id="navbar-menu"
        ref="navbarContent"
        class="navbar-menu is-static"
      >
        <div class="navbar-end">
          <router-link
            :to="{ name: 'aboutCompany' }"
            class="navbar-item"
            @click.native="handleNavbarHamburgerClick"
          >
            О компании
          </router-link>

          <router-link
            :to="{ name: 'news' }"
            class="navbar-item"
            @click.native="handleNavbarHamburgerClick"
          >
            Новости
          </router-link>

          <router-link
            :to="{ name: 'products' }"
            class="navbar-item"
            @click.native="handleNavbarHamburgerClick"
          >
            Продукты
          </router-link>

          <router-link
            :to="{ name: 'partners' }"
            class="navbar-item"
            @click.native="handleNavbarHamburgerClick"
          >
            Партнёры
          </router-link>

          <router-link
            :to="{ name: 'contacts' }"
            class="navbar-item"
            @click.native="handleNavbarHamburgerClick"
          >
            Контакты
          </router-link>

          <div class="navbar-item">
            <scroll-to-call-request-form class="button rounded raised green-button">
              Сделать заказ
            </scroll-to-call-request-form>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import ScrollToCallRequestForm from './ScrollToCallRequestForm.vue';

export default {
  name: 'TheNavbar',
  components: {
    ScrollToCallRequestForm
  },
  methods: {
    handleNavbarHamburgerClick() {
      this.$refs.hamburger.classList.toggle('is-active');
      this.$refs.navbarContent.classList.toggle('is-active');
    }
  }
}
</script>

<style lang="scss">
  span.button.signup-button {
    width: 180px;
  }
</style>
