<template>
  <TheNavbar id="navbar-clone"/>
</template>

<script>
import TheNavbar from './TheNavbar';

export default {
  name: 'TheNavbarClone',
  components: {
    TheNavbar
  },
  mounted() {
    window.addEventListener('scroll', () => {
      const navbar = document.getElementById('navbar-clone');

      if (navbar) {
        if (window.scrollY > 50) {
          navbar.classList.add('is-active');
        } else {
          navbar.classList.remove('is-active');
        }
      }
    });
  }
}
</script>
