{% extends '@app/admin_base.html.twig' %}
{% block title %}
  Заказы
{% endblock %}
{% block content %}
  <div class="panel">
    <div class="panel-heading panel-primary">
      <h3 class="text-center">
        Всего заказов ({{ orders.getTotalItemCount }})
      </h3>
    </div>

    <div class="panel-body">
      {% if orders.getTotalItemCount %}
        <div class="table-responsive table-padding-85" style="padding-bottom: 115px">
          <table class="table table-hover table-striped">
            <thead>
            <tr class="bg-green-600">
              <th>{{ knp_pagination_sortable(orders, 'ID', ['o.id']) }}</th>
              <th>{{ knp_pagination_sortable(orders, 'Телефон', ['o.phone']) }}</th>
              <th>{{ knp_pagination_sortable(orders, 'Имя', ['o.name']) }}</th>
              <th>{{ knp_pagination_sortable(orders, 'Заказ', ['o.orderText']) }}</th>
              <th>{{ knp_pagination_sortable(orders, 'Дата', ['o.createdAt']) }}</th>
              <th>{{ knp_pagination_sortable(orders, 'Статус', ['o.isProcessed']) }}</th>
              <th>Действия</th>
            </tr>
            </thead>

            <tbody>
            {% for order in orders %}
              <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.orderText }}</td>
                <td>{{ order.createdAt | date("Y/m/d H:i:s") }}</td>
                <td>
                  {% if order.isProcessed %}
                    <div class="label label-success">
                      Выполнен
                    </div>
                  {% else %}
                    <div class="label label-danger">
                      Не выполнен
                    </div>
                  {% endif %}
                </td>
                <td>
                  <ul class="icons-list">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-right">
                        {% if order.isProcessed %}
                          <li>
                            <a
                              href="{{ path('order_undone', {'id': order.getId}) }}">
                              <i class="icon-plus3 text-blue"></i>

                              Не выполнен
                            </a>
                          </li>
                        {% else %}
                          <li>
                            <a href="{{ path('order_done', {'id': order.getId}) }}">
                              <i class="icon-plus3 text-blue"></i>
                              Выполнен
                            </a>
                          </li>
                        {% endif %}
                        <li>
                          <a
                              href="{{ path('order_remove', {'id': order.getId}) }}"
                              onclick="return confirm('Вы действительно хотите удалить этот заказ?')"
                          >
                            <i class="icon-trash text-danger"></i>
                            Удалить
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
            {% if orders.getTotalItemCount >= 20 %}
              <div class="panel-body text-center">
                  {{ knp_pagination_render(orders, 'AppBundle:Pagination:pagination.html.twig') }}
              </div>
            {% endif %}
        </div>

      {% else %}
        <div class="panel panel-body">
          <h2 class="text-center">
            У вас нет заказов
          </h2>
        </div>
      {% endif %}
    </div>
  </div>

  <style>
    th a {
      color: white;
    }
  </style>
{% endblock %}
