{% trans_default_domain 'FOSUserBundle' %}

<section id="wrapper" class="login-register login-sidebar">
  <div class="bg-mm">
    <img src="{{ asset('/admin/assets/images/logo.png') }}">

  </div>

  <div class="login-box card">
    <div class="card-body">
      <form
        action="{{ path("fos_user_security_check") }}"
        method="post"
        class="form-horizontal form-material"
        id="loginform"
      >
        {% if csrf_token %}
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input
              id="username"
              name="_username"
              value="{{ last_username }}"
              placeholder="{{ 'form.field.username' | trans }}"
              required
              type="email"
              class="form-control"
            >
          </div>
        </div>

        <div class="form-group {% if not error is null %} has-danger {% endif %}">
          <div class="col-xs-12">
            <input
              type="password"
              id="password"
              name="_password"
              placeholder="{{ 'form.field.password' | trans }}"
              required
              class="form-control"
            >
          </div>

          {% if not error is null %}
            <div class="form-control-feedback">{{ 'form.error.bad_credentials' | trans }}</div>
          {% endif %}
        </div>

        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button
              id="submit"
              class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
            >
              {{ 'form.button.sign_in'|trans }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<style>
  @media (max-width: 767px) {
    .bg-mm {
      display: none;
    }
  }

  #wrapper {
    background-color: #e3e3e3;
    height: 100vh;
  }

  .bg-mm {
    background: transparent;
    position: absolute;
    width: calc(100% - 400px);
    height: 100vh;
    background-size: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-info, .btn-info.disabled {
    background: #7d9608;
    border: 1px solid #7d9608;
  }

  .btn-info:hover, .btn-info.disabled:hover {
    background: #7d9608;
    border: 1px solid #7d9608;
    opacity: .9;
  }
</style>
