<template>
  <div class="column">
    <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft" style="height: 350px">
      <div class="card-title">
        <h4>
          <slot name="title" />
        </h4>
      </div>
      <div class="card-icon">
        <slot name="image" />
      </div>
      <div class="card-text" style="padding: 10px">
        <p>
          <slot name="description" />
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CapabilityItem',
  props: {
    duration: {
      type: Number,
      default: 100
    }
  },
  data() {
    return {
      observer: null
    }
  },
  mounted() {
    this.observer = new IntersectionObserver(([ entry ]) => {
      if (entry.intersectionRatio > 0) {
        setTimeout(() => {
          this.$el.style.opacity = '1';
          this.$el.classList.add('animated', 'fadeInLeft');

          this.observer.disconnect();

          this.observer = null;
        }, this.duration);
      } else {
        this.$el.style.opacity = '0';
      }
    }, {
      threshold: 0.4
    });

    this.observer.observe(this.$el);
  },
  beforeDestroy() {
    if (this.observer) {
      this.observer.disconnect();
    }
  }
}
</script>
