<template>
  <div class="column">
    <div class="outer-circle feature-card has-text-centered">
      <div class="inner-circle">
        <span>
          {{ animatedNumber }}
        </span>
      </div>
    </div>

    <div
      class="columns is-centered"
      style="margin-top: 20px"
    >
      <div class="card-action subtext-circle has-text-centered">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
import TweenLite from 'gsap/TweenLite';

export default {
  name: 'CircleStatsItem',
  props: {
    number: {
      type: Number,
      required: true
    }
  },
  data() {
    return {

      observer: null,
      tweenedNumber: 0
    }
  },
  computed: {
    animatedNumber: function() {
      return this.tweenedNumber.toFixed(0);
    }
  },
  mounted() {
    this.observer = new IntersectionObserver(([ entry ]) => {
      if (entry.intersectionRatio > 0) {
        TweenLite.to(this.$data, 0.5, { tweenedNumber: this.number });

        this.observer.disconnect();

        this.observer = null;
      }
    }, {
      threshold: 0.4
    });

    this.observer.observe(this.$el);
  },
  beforeDestroy() {
    if (this.observer !== null) {
      this.observer.disconnect();
    }
  }
}
</script>
