.news-image {
  background-image: url(../images/illustrations/example.jpg);
  background-repeat: no-repeat;
  background-size: 100%, auto;
  height: 160px !important;
  padding: 0;
}

.no-padding {
  padding: 0;
}

.news-block {
  background-color:#fff;
  border-radius:3px;
  border: 3px solid #ededed;
  transition: border .5s;
  height: auto;
}

.news-block:hover {
  border: 3px solid #7d9608
}

.news-card {
  width: 100%;
}

.card-date {
  text-align: right;
  color: #444f60;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px;
}

.news-card-image {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 400px;
  min-height: 400px;
  padding: 0;
  opacity: .25;
}

.news-card-title {
  top: 190px;
  position:absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
  color: #fff;
  font-size: 3rem;
}

.new-black-block{
  background-color: #000;
  min-width: 600px;
}