<template>
  <div>
    <section class="section section-secondary" style="background-color: #fff; padding: 64px 0 64px 0">
      <div class="container" style="max-width: 1920px; width: 80%;">

        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 has-text-justified about-main-block">
            <div class="col-lg-7 col-lg-offset-5 about-main-block-text">
              <p class="fs-2">Биями</p>
              <p class="has-text-weight-light">Территория правильного вкуса</p>

              <div class="divider bg-green mt-20 mb-20"></div>
              <p style="text-indent: 30px">Основанное в 1994 году ООО «БИЯМИ» является одним из ведущих белорусских производителей пищевых добавок для мясоперерабатывающей и хлебопекарной промышленностей.</p>
              <p style="text-indent: 30px">За годы развития ООО «БИЯМИ» прошло путь от компании, поставляющей сырье и ингредиенты до крупного производителя собственных пищевых добавок, комплексно обеспечивающего нужды клиентов, проходя с ними путь от поиска индивидуальных видов сырья до постановки технологического процесса.</p>
              <p style="text-indent: 30px">Поставив перед собой цель и неукоснительно следуя ей, ООО «БИЯМИ» на сегодняшний день – это собственная производственная база, многолетние партнерские отношения с зарубежными поставщиками, штат отраслевых технологов и тщательно подобранный профессиональный персонал.</p>
              <p style="text-indent: 30px">Предприятие всегда находится в поиске новых направлений развития, постоянно совершенствуя знания сотрудников в области производства пищевых добавок. С 2017 года на предприятии внедрена система менеджмента HACCP. За 25 лет существования ООО «БИЯМИ» технологами компании разработан широкий ассортимент продукции собственного производства с фирменными названиями «Биямикс» и «Колос», внедрены в производство более 5000 рецептур для предприятий пищевой промышленности, а также создан ряд новых технологий по изготовлению пищевой продукции.</p>
              <p style="text-indent: 30px">Благодаря опыту, новаторским достижениями и современным технологиям ООО «БИЯМИ» предлагает на рынок уникальные пищевые добавки собственного производства, позволяющие удовлетворить широкий спектр современных рыночных требовани</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-feature-grey is-medium" style="padding: 64px 24px">
      <div class="container">
        <div class="title-wrapper has-text-centered">
          <h2 class="title is-2 light-text is-spaced" style="color: #000 !important;">Жизнь компании</h2>

          <div class="divider is-centered bg-green"/>
        </div>

        <div class="content-wrapper">
          <div class="columns is-vcentered">
            <a
              v-for="news in initData.news"
              href="#"
              class="feature-card has-text-centered news-block"
              @click.prevent="openNewsViewPageByNewsId(news.id)"
            >
              <div
                class="card-icon news-image"
                :style="{ backgroundImage: `url(${news.image})` }"
              />

              <div class="card-title">
                <h4 style="padding: 10px; text-align: left">
                  {{ news.title }}
                </h4>
              </div>

              <div class="card-text" style="padding: 10px">
                <p style="text-align: left; font-size: .9rem">
                  {{ news.shortDescription.slice(0, 200) }}...
                </p>
              </div>

              <h5 class="card-date" >
                {{ news.date }}
              </h5>
            </a>
          </div>
          <p class="has-text-centered mt-20">
            <a class="button cta rounded primary-btn raised" style="background-color: #7d9608; border: #7d9608 solid 1px">
              Больше новостей
            </a>
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'Biyami',
  metaInfo: {
    title: 'О компании',
    meta: [
      { property: "og:title", content: "Biyami"},
      { property: "og:description", content: "Территория правильног вкуса"},
      { property: "og:image", content: "http://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { property: "og:image:secure_url", content: "https://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { name: 'description', content: 'О компании Biyami.' },
      { name: 'keywords', content: 'о_компании' },
      { itemport: 'description', content: 'О компании Biyami.' },
      { itemport: 'name', content: 'О компании Biyami' },
      { name: 'application-name', content: 'Biyami' }
    ]
  },
  computed: mapState([
    'initData'
  ]),
  async created() {
    if (this.initData === null) {
      await this.fetchInitData();
    }
  },
  methods: {
    openNewsViewPageByNewsId(id) {
      this.$router.push({
        name: 'newsView',
        params: {
          id
        }
      });
    },
    ...mapActions([
      'fetchInitData'
    ])
  }
}
</script>
