<template>
  <div>
    <section class="section section-light-grey is-medium" style="padding: 64px 24px">
      <div class="container" style="max-width: 1920px; width: 80%;">
        <div class="row">
          <div class="column col-lg-offset-2 col-lg-5 col-md-6 col-sm-12">

              <div class="col-lg-12">
                <div class="title-wrapper has-text-centered">
                  <h2 class="title is-2 is-spaced contact-title"> Связаться с нами </h2>
                  <h3 class="subtitle is-5 i  s-muted contact-subtitle">Будьте добры, заполните все поля</h3>
                </div>
              </div>

              <div class="col-lg-12">
                <form @submit.prevent="submit">
                  <div class="columns is-multiline">
                    <div class="column is-6">
                      <input
                        v-model="callRequest.name"
                        class="input is-medium"
                        type="text"
                        placeholder="Введите ваше имя"
                      >
                    </div>

                    <div class="column is-6">
                      <input
                        v-model="callRequest.phone"
                        placeholder="+375 XX XXX-XX-XX"
                        class="input is-medium"
                        type="text"
                      >
                    </div>

                    <div class="column is-12">
                  <textarea
                    v-model="callRequest.order"
                    class="textarea"
                    rows="10"
                    placeholder="Ваш заказ ..."
                  />
                    </div>

                    <div class="form-footer has-text-centered mt-10">
                      <button
                        class="button cta is-large primary-btn raised is-clear"
                        style="background-color: #7d9608; border: #7d9608 solid 1px"
                      >
                        Отправить
                      </button>
                    </div>
                  </div>
                </form>
              </div>
          </div>

          <div class="column col-lg-4 col-md-4 col-sm-12">
            <div class="col-lg-12">
              <h2 class="title is-2 is-spaced contact-title" style="margin-bottom: 40px!important;"> Контакты </h2>
            </div>

            <div class="col-lg-12">
              <div class="col-md-12 mt-20 no-padding">
                <h3 class="subtitle is-5 is-muted fs-1 is-uppercase">Адреса</h3>
                <p>Республика Беларусь, 220005, г. Минск, ул. Гикало 20 пом.71 </p>
              </div>

              <div class="col-md-12 mt-20 no-padding">
                <div class="col-sm-6 no-padding">
                  <h3 class="subtitle is-6 is-muted fs-1 is-uppercase">Телефон</h3>
                  <p>(017)353-03-00</p>
                </div>
                <div class="col-sm-6 no-padding">
                  <h3 class="subtitle is-5 is-muted fs-1 is-uppercase">Email</h3>
                  <p>info@biyami.by</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-secondary is-medium" style="background-color: #fff; padding: 64px 0 64px 0">
      <h2 class="title is-2 is-spaced contact-title has-text-centered" style="margin-bottom: 40px!important;"> Производство </h2>
      <div class="container" style="max-width: 1920px; width: 80%;">
        <div class="columns">
          <div class="column is-full-mobile">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe
                  width="100%"
                  height="500"
                  id="gmap_canvas"
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11159.776069336562!2d27.84210219529624!3d53.98406629482304!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1fa373b1750e2faa!2sOoo+%22Biyami%22!5e0!3m2!1sen!2sus!4v1563354868120!5m2!1sen!2sus"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { AsYouType, parsePhoneNumberFromString } from 'libphonenumber-js';
import axios from 'axios';

export default {
  name: 'Contacts',
  metaInfo: {
    title: 'Контакты',
    meta: [
      { property: "og:title", content: "Biyami"},
      { property: "og:description", content: "Территория правильног вкуса"},
      { property: "og:image", content: "http://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { property: "og:image:secure_url", content: "https://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { name: 'description', content: 'Контакты Biyami.' },
      { name: 'keywords', content: 'контакты' },
      { itemport: 'description', content: 'Контакты Biyami.' },
      { itemport: 'name', content: 'Контакты Biyami' },
      { name: 'application-name', content: 'Biyami' }
    ]
  },
  data() {
    return {
      isPhoneValid: false,
      callRequest: {
        name: '',
        phone: '',
        order: ''
      }
    }
  },
  watch: {
    'callRequest.phone'(phone) {
      const formattedPhone = new AsYouType().input(phone);
      const phoneNumber = parsePhoneNumberFromString(formattedPhone);

      if (formattedPhone !== phone) {
        this.callRequest.phone = formattedPhone;
      }

      this.isPhoneValid = phoneNumber !== undefined && phoneNumber.isValid() && phoneNumber.isPossible();
    }
  },
  methods: {
    submit() {
      // this.$refs.recaptcha.execute();
      if (this.isPhoneValid && this.callRequest.name.length > 0) {
        axios.post('/order/create', this.callRequest)
          .then(() => {
            this.callRequest = {
              name: '',
              phone: '',
              order: ''
            };
          });
      }
    },
    onCaptchaVerified(recaptchaToken) {
      this.$refs.recaptcha.reset();

      axios.post('/api/review/create', {
        email: this.email,
        password: this.password,
        recaptchaToken: recaptchaToken
      });
    },
    onCaptchaExpired() {
      this.$refs.recaptcha.reset();
    }
  }
}
</script>


<style>
  .mapouter{
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
    margin: auto;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 100%;
  }

  iframe {
    min-height: 100% !important;
  }
</style>
