<template>
  <div v-if="initData !== null" style="
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  flex-direction: column;
">
    <section class="hero is-fullheight is-default is-bold" style="
      background-color: #fff;
      min-height: calc(100vh - 64px) !important;
      max-width: 1500px;
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 24px;
    ">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-5 is-offset-1 landing-caption">
              <h1 class="title is-1 is-bold is-spaced">
                БИЯМИ
              </h1>
              <h2 class="subtitle is-5 is-muted"> Территория правильного вкуса </h2>
              <p>
                <scroll-to-call-request-form class="button cta rounded primary-btn raised" style="background-color: #7d9608; border: #7d9608 solid 1px">
                  Сделать заказ
                </scroll-to-call-request-form>
              </p>
            </div>
            <div class="column is-5 is-offset-1">
              <figure class="image is-4by3">
                <img src="../../assets/images/illustrations/worker.png" alt="Description">
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-foot is-hidden-mobile">
        <div class="container demo">
          <a
            class="scroll-button"
            @click.stop.prevent="scrollToCapabilitySection"
          >
            <span class="icon-scroll" />

            Прокрутить вниз
          </a>
        </div>
      </div>

      <div class="hero-foot mb-20">
        <div class="container">
          <div class="tabs is-centered">
            <ul>
              <li
                v-for="partner in initData.partners"
                :key="partner.id"
              >
                <a :href="partner.link">
                  <img
                    :src="partner.image"
                    class="partner-logo img-grayscale"
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section
      id="products"
      class="section section-feature-grey is-medium"
      style="padding: 64px 24px"
    >
      <div class="container">
        <div class="columns">
          <div class="column is-centered-tablet-portrait">
            <h1 class="title section-title">
              Наши продукты
            </h1>

            <h3 class="subtitle is-4 is-muted">
              Мы используем лучшие решения для ваших продуктов
            </h3>

            <div class="divider bg-green" />
          </div>

          <div class="column is-8 mt-60">
            <article
              v-for="industry in initData.industries"
              :key="industry.id"
              class="media icon-box"
            >
              <figure class="media-left">
                <p class="image">
                  <img
                    :src="industry.image"
                    style="width: 150px"
                    alt="image"
                  >
                </p>
              </figure>

              <div class="media-content mt-50">
                <div class="content">
                  <p>
                    <span class="icon-box-title">
                      {{ industry.title }}
                    </span>

                    <template v-for="category in industry.categories">
                      <router-link
                        :to="{ name: 'products', query: { industry: industry.id, id: category.id } }"
                        class="icon-box-text green-link"
                      >
                        {{ category.title }}
                      </router-link> <br>
                    </template>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section
      class="section is-medium"
      style="
        padding: 64px 24px;
        background-color: #fff;
        max-width: 1500px;
        width: 100%;
      "
    >
      <div class="container" style="">
        <div class="title-wrapper has-text-centered">
          <h2 class="title is-2">
            Эффективность
          </h2>

          <h3 class="subtitle is-5 is-muted">
            Ключевые показатели
          </h3>

          <div class="divider is-centered bg-green" />
        </div>

        <div class="content-wrapper">
          <div class="columns auto-scroll">
            <circle-stats-item
              :number="25"
            >
              Лет опыта в индустрии
            </circle-stats-item>

            <circle-stats-item
              :number="250"
            >
              Постоянных клиентов
            </circle-stats-item>

            <circle-stats-item
              :number="5000"
            >
              Внедренных рецептур
            </circle-stats-item>

            <circle-stats-item
              :number="150"
            >
              Наименований продукции
            </circle-stats-item>
          </div>
        </div>
      </div>
    </section>

    <section
      class="section section-feature-grey is-medium"
      style="padding: 64px 24px;
        max-width: 1500px;
        width: 100%;"
    >
      <div class="container no-overflow">
        <div class="title-wrapper has-text-centered">
          <h2 class="title is-2">
            Инновационность
          </h2>

          <h3 class="subtitle is-5 is-muted">
            Процесс разработки индивидуальных технологических решений
          </h3>

          <div class="divider is-centered bg-green" />
        </div>

        <div class="content-wrapper no-overflow">
          <div class="columns auto-scroll no-overflow">
            <capability-item
              :duration="100"
            >
              <template slot="title">
                Индивидуальная разработка решений
              </template>

              <template slot="image">
                <img
                  src="../../assets/images/illustrations/icons/flask.svg"
                  alt="image"
                >
              </template>

              <template slot="description">
                Разработка новых технологических решений по индивидуальному запросу клиента
              </template>
            </capability-item>

            <capability-item
              :duration="100"
            >
              <template slot="title">
                Проведение отработок по рецептуре заказчика
              </template>

              <template slot="image">
                <img
                  src="../../assets/images/illustrations/icons/chemistry.svg"
                  alt="image"
                >
              </template>

              <template slot="description">
                Это дает возможность приезжать к клиенту с образцами готовой продукции,
                а не просто демонстрировать ингредиенты
              </template>
            </capability-item>

            <capability-item
              :duration="100"
            >
              <template slot="title">
                Проведение отработок по собственной рецептуре
              </template>

              <template slot="image">
                <img
                  src="../../assets/images/illustrations/icons/laboratory.svg"
                  alt="image"
                >
              </template>

              <template slot="description">
                Дает возможность продемонстрировать клиенту образец готового изделия по нашей рецептуре
              </template>
            </capability-item>
          </div>
        </div>
      </div>
    </section>

    <section class="section is-medium section-secondary" style="
      background-color: #fff;
      padding: 64px 24px;
      max-width: 1500px;
      width: 100%;
    ">
      <div class="container">
        <div class="title-wrapper has-text-centered">
          <h2 class="title is-2 light-text is-spaced" style="color: #000 !important;">Новости</h2>
          <div class="divider is-centered bg-green"></div>
        </div>

        <div class="content-wrapper">
          <div class="columns is-vcentered">
            <a
              v-for="news in initData.news"
              href="#"
              class="feature-card has-text-centered news-block"
              @click.prevent="openNewsViewPageByNewsId(news.id)"
            >
              <div
                class="card-icon news-image"
                :style="{ backgroundImage: `url(${news.image})` }"
              />

              <div class="card-title">
                <h4 style="padding: 10px; text-align: left">
                  {{ news.title }}
                </h4>
              </div>

              <div class="card-text" style="padding: 10px;">
                <p style="text-align: left; font-size: .9rem">
                  {{ news.shortDescription.slice(0, 200) }}...
                </p>
              </div>

              <h5 class="card-date" >
                {{ news.date }}
              </h5>
            </a>
          </div>

          <p class="has-text-centered mt-20">
            <router-link
              :to="{ name: 'news' }"
              class="button cta rounded primary-btn raised"
              style="background-color: #7d9608; border: #7d9608 solid 1px"
            >
              Больше новостей
            </router-link>
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import ScrollToCallRequestForm from '../components/ScrollToCallRequestForm.vue';
import CircleStatsItem from './Home/CircleStatsItem';
import CapabilityItem from './Home/CapabilityItem';
import { mapState, mapActions } from 'vuex';

export default {
  components: {
    ScrollToCallRequestForm,
    CapabilityItem,
    CircleStatsItem
  },
  metaInfo: {
    title: 'Главная',
    meta: [
      { property: "og:title", content: "Biyami"},
      { property: "og:description", content: "Территория правильног вкуса"},
      { property: "og:image", content: "http://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { property: "og:image:secure_url", content: "https://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { name: 'description', content: 'Биями продажа приправ и специй. Территория правильного вкуса.' },
      { name: 'keywords', content: 'территория_правильного_вкуса.' },
      { itemport: 'description', content: 'Биями продажа приправ и специй. Территория правильного вкуса.' },
      { itemport: 'name', content: 'Biyami | Территория правильного вкуса.' },
      { name: 'application-name', content: 'Biyami' }
    ]
  },
  computed: mapState([
    'initData'
  ]),
  async created() {
    if (this.initData === null) {
      await this.fetchInitData();
    }
  },
  methods: {
    scrollToCapabilitySection() {
      const capabilitySection = document.getElementById('products');

      if (capabilitySection) {
        capabilitySection.scrollIntoView({
          behavior: 'smooth',
          block: 'start'
        })
      }
    },
    openNewsViewPageByNewsId(id) {
      this.$router.push({
        name: 'newsView',
        params: {
          id
        }
      });
    },
    ...mapActions([
      'fetchInitData'
    ])
  }
}
</script>

<style lang="scss">
  .scroll-button {
    position: absolute;
    bottom: 0;
    left: calc(50% - 97px);
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    padding-top: 60px;
  }
  .scroll-button:hover {
    opacity: .5;
  }
  span.icon-scroll {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #000;
    border-radius: 50px;
    box-sizing: border-box;
  }
  span.icon-scroll::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #000;
    border-radius: 100%;
    -webkit-animation: scroll 2s infinite;
    animation: scroll 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes scroll {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
