<template>
  <div
    v-if="isLoading"
    class="section"
    style="padding-top: 70px"
  >
    <div class="container">
      <div class="content-wrapper">
        <div id="status" />
      </div>
    </div>
  </div>

  <section
    v-else
    class="section section-secondary"
    style="background-color: #fff; padding: 0"
  >
    <div class="new-black-block">
      <p class="news-card-title">
        {{ news.title }}
      </p>

      <div
        class="row news-card-image"
        :style="{ backgroundImage: `url(/${news.image})` }"
      />
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div
          class="card-text"
          style="padding: 24px 10px 74px 10px"
          v-html="news.text"
        />
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {
  name: 'NewsView',
  data() {
    return {
      news: null,
      isLoading: true
    };
  },
  computed: mapGetters([
    'initData'
  ]),
  async created() {
    const newsId = this.$route.params.id;

    if (!this.news) {
      this.news = await axios.get(`/news/${newsId}`)
        .then(({ data }) => data)
        .catch(() => {
          this.$router.replace({
            path: '/not-found'
          });
        })
        .finally(() => {
          this.isLoading = false;
        });
    }
  }
}
</script>
