<template>
  <section
    class="section section-secondary"
    style="background-color: #fff; padding: 64px 0 64px 0"
  >
    <div
      class="container"
      style="max-width: 1920px; width: 80%;"
    >
      <div class="title-wrapper has-text-centered">
        <h2
          class="title is-2 light-text is-spaced"
          style="color: #000 !important;"
        >
          Новости
        </h2>

        <div
          style="margin-bottom: 40px"
          class="divider is-centered bg-green"
        />
      </div>

      <div
        v-if="isLoading"
        class="columns"
        style="padding-top: 70px"
      >
        <div class="column is-12">
          <div id="status" />
        </div>
      </div>

      <div
        v-else
        class="row"
      >
        <div
          v-for="newsItem in news"
          :key="newsItem.id"
          class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
          @click.prevent="openNewsViewPageByNewsId(newsItem.id)"
        >
          <div class="feature-card news-block mt-20 no-padding news-card">
            <div
              class="card-icon news-image"
              :style="{ backgroundImage: `url(${newsItem.image})` }"
            />

            <div class="card-title">
              <h4 style="padding: 10px; text-align: left">
                {{ newsItem.title }}
              </h4>
            </div>

            <div
              class="card-text"
              style="padding: 10px;"
            >
              <p style="text-align: left; font-size: .9rem">
                {{ newsItem.shortDescription.slice(0, 200) }}...
              </p>
            </div>

            <h5 class="card-date">
              {{ newsItem.date }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios';

export default {
  name: 'News',
  metaInfo: {
    title: 'Новости',
    meta: [
      { property: "og:title", content: "Biyami"},
      { property: "og:description", content: "Территория правильног вкуса"},
      { property: "og:image", content: "http://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { property: "og:image:secure_url", content: "https://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { name: 'description', content: 'Новости Biyami.' },
      { name: 'keywords', content: 'новости' },
      { itemport: 'description', content: 'Новости Biyami.' },
      { itemport: 'name', content: 'Новости Biyami' },
      { name: 'application-name', content: 'Biyami' }
    ]
  },
  data() {
    return {
      isLoading: true,
      news: []
    }
  },
  async created() {
    this.news = await axios.get('/news/list')
      .then(({ data }) => data)
      .catch(() => []);

    this.isLoading = false;
  },
  methods: {
    openNewsViewPageByNewsId(id) {
      this.$router.push({
        name: 'newsView',
        params: {
          id
        }
      });
    }
  }
}
</script>
