<template>
  <section class="section section-secondary" style="background-color: #fff; padding: 64px 0 64px 0">
    <div class="container" style="max-width: 1920px; width: 80%;">

      <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 light-text is-spaced" style="color: #000 !important;">Наши партнёры</h2>
        <div class="divider is-centered bg-green"></div>
      </div>

      <div class="row partners-map" style="text-align: center">
        <ul class="row partners-content">
          <li
            v-for="partner in partners"
            :key="partner.id"
            class="col-lg-4 col-sm-6 mt-20"
          >
            <a :href="partner.link" target="_blank">
              <img
                class="partners-img"
                :src="partner.image"
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'Partners',
  metaInfo: {
    title: 'Партнёры',
    meta: [
      { property: "og:title", content: "Biyami"},
      { property: "og:description", content: "Территория правильног вкуса"},
      { property: "og:image", content: "http://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { property: "og:image:secure_url", content: "https://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { name: 'description', content: 'Партнёры Biyami.' },
      { name: 'keywords', content: 'партнёры' },
      { itemport: 'description', content: 'Партнёры Biyami.' },
      { itemport: 'name', content: 'Партнёры Biyami' },
      { name: 'application-name', content: 'Biyami' }
    ]
  },
  data() {
    return {
      isLoading: true,
      reviews: []
    }
  },
  computed: mapState([
    'partners'
  ]),
  async created() {
    if (this.partners.length === 0) {
      this.fetchPartnerList();
    }
  },
  methods: mapActions([
    'fetchPartnerList'
  ])
}
</script>
