<template>
  <section id="product-container" class="section section-secondary" style="background-color: #fff; padding: 64px 0 64px 0">
    <div class="row" style="width: 90%; margin-left: 5%; margin-right: 5%">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="title-wrapper has-text-centered">
          <h1
            class="title is-2 light-text is-spaced"
            style="color: #000 !important;"
          >
            Продукты
          </h1>

          <div class="divider is-centered bg-green" />
        </div>

        <div
          v-if="initData === null"
          class="columns"
          style="padding-top: 70px"
        >
          <div class="column is-12">
            <div id="status" />
          </div>
        </div>

        <template v-else>
          <div id="product-menu" class="products-find-block">
            <template v-for="industry in initData.industries">
              <p
                class="has-text-black has-text-weight-semibold"
                style="padding: 5px"
                :data-id="industry.id"
              >
                {{ industry.title }}
              </p>

              <a
                v-for="category in industry.categories"
                :key="category.id"
                class="has-text-weight-light green-products-link"
                href="#"
                @click.prevent="scrollToCategory(industry.id, category.id)"
              >
                {{ category.title }}
              </a>
            </template>
          </div>



          <div class="col-lg-12">
            <div
              v-for="industry in initData.industries"
              class="col-lg-4"
              style="margin-top: 64px"
            >
              <div class="title-wrapper has-text-centered">
                <h2 class="title is-2 is-spaced products-title">
                  {{ industry.title }}
                </h2>

                <h3 class="lg-hide subtitle is-5 products-subtitle has-text-weight-light" style="width: 90%; margin-left: 5%">
                  {{ industry.description }}
                </h3>

                <div class="lg-hide">
                  <img
                    :src="industry.bigImage"
                    class="product-img"
                  >
                </div>

                <a
                  class="lg-hide button cta rounded primary-btn raised green-button"
                  @click="scrollToIndustry(industry.id)"
                >
                  Показать
                </a>
              </div>
            </div>
          </div>



          <div class="col-lg-12 md-hide">
            <div
              v-for="industry in initData.industries"
              class="col-lg-4"
            >
              <div class="title-wrapper has-text-centered">

                <h3 class="subtitle is-5 products-subtitle has-text-weight-light" style="width: 90%; margin-left: 5%">
                  {{ industry.description }}
                </h3>

                <div>
                  <img
                    :src="industry.bigImage"
                    class="product-img"
                  >
                </div>

                <a
                  class="button cta rounded primary-btn raised green-button"
                  @click="scrollToIndustry(industry.id)"
                >
                  Показать
                </a>
              </div>
            </div>
          </div>



          <div
            v-for="(industry, index) in initData.industries"
            :key="industry.title"
            :id="`category-${index}`"
            class="col-lg-12"
            style="padding-top: 64px"
          >
            <div
              :id="`industry-${industry.id}`"
              class="col-lg-12"
            >
              <div style="margin: 0; text-align: center">
                <h2
                  :id="`category-title-${index}`"
                  class="title has-text-centered"
                >
                  {{ industry.title }}
                </h2>
              </div>
            </div>

            <template v-for="category in industry.categories">
              <div
                :id="`${industry.id}-${category.id}`"
                class="col-lg-10 col-lg-offset-2"
                style="padding: 64px 0 0 0"
              >
                <h2 class="products-title has-text-black">
                  {{ category.title }}
                </h2>
              </div>

              <div
                v-for="product in category.product"
                :key="product.id"
                class="col-lg-10 col-lg-offset-2 mt-20"
              >
                <div class="col-md-1 no-padding has-text-right pr-5 md-hide">
                  <img
                    :src="category.image"
                    style="width: 50px"
                  >
                </div>

                <div class="col-xs-12 col-md-11">
                  <h2 class="products-unit-title">
                    {{ product.title }}
                  </h2>

                  <div class="products-unit-description has-text-weight-light">
                    {{ product.description }}
                  </div>
                </div>
              </div>
            </template>
          </div>
        </template>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'Products',
  metaInfo: {
    title: 'Продукты',
    meta: [
      { property: "og:title", content: "Biyami"},
      { property: "og:description", content: "Территория правильног вкуса"},
      { property: "og:image", content: "http://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { property: "og:image:secure_url", content: "https://biyami.by/img/icons/apple-touch-icon-152x152.png"},
      { name: 'description', content: 'Продукты Biyami.' },
      { name: 'keywords', content: 'продукты' },
      { itemport: 'description', content: 'Продукты Biyami.' },
      { itemport: 'name', content: 'Продукты Biyami' },
      { name: 'application-name', content: 'Biyami' }
    ]
  },
  computed: mapState([
    'initData'
  ]),
  async created() {
    if (this.initData === null) {
      await this.fetchInitData();
    }
  },
  mounted() {
    document.addEventListener('scroll', this.calculateProductMenuPosition);

    if (this.$route.query.industry && this.$route.query.id) {
      setTimeout(() => {
        this.scrollToCategory(this.$route.query.industry, this.$route.query.id);
      }, 100);
    }
  },
  methods: {
    calculateProductMenuPosition() {
      const productMenu = document.getElementById('product-menu');
      const firstCategory = document.getElementById('category-title-0');
      const productContainer = document.getElementById('product-container');

      if (firstCategory !== null && productMenu !== null && productContainer !== null) {
        const { bottom } = productContainer.getBoundingClientRect();

        if (bottom <= window.outerHeight) {
          productMenu.style.bottom = `${window.outerHeight - bottom - 70}px`;
          productMenu.style.top = 'auto';
          productMenu.style.transform = 'translateY(0)';
        } else {
          const { top } = firstCategory.getBoundingClientRect();
          const productMenuTop = Math.max(top, 67);

          productMenu.style.bottom = 'auto';
          productMenu.style.top = '0';
          productMenu.style.transform = `translateY(${productMenuTop}px)`;
        }
      }
    },
    scrollToCategory(industry, id) {
      const category = document.getElementById(`${industry}-${id}`);

      if (category !== null) {
        category.scrollIntoView({
          behavior: 'smooth',
          block: 'start',

        });
      }
    },
    scrollToIndustry(id) {
      const category = document.getElementById(`industry-${id}`);

      if (category !== null) {
        category.scrollIntoView({
          behavior: 'smooth',
          block: 'start',

        });
      }
    },
    ...mapActions([
      'fetchInitData'
    ])
  }
}
</script>
