{% extends '@app/admin_base.html.twig' %}
{% block title %}
  Новости
{% endblock %}
{% block content %}
  <div class="panel">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h3 class="text-center">
            Всего новостей ({{ news_list.getTotalItemCount }})
          </h3>
        </div>
        <div class="col-xs-2 text-right">
          <a href="{{ path('news_create') }}" class="btn bg-green-600">
            <i class="icon-plus3"></i>
            Создать
          </a>
        </div>
      </div>
    </div>

    <div class="panel-body">
      {% if news_list.getTotalItemCount %}
        <div class="table-responsive table-padding-85" style="padding-bottom: 115px">
          <table class="table table-hover table-striped">
            <thead>
            <tr class="bg-green-600">
              <th>{{ knp_pagination_sortable(news_list, 'ID', ['n.id']) }}</th>
              <th>{{ knp_pagination_sortable(news_list, 'Название', ['n.title']) }}</th>
              <th>{{ knp_pagination_sortable(news_list, 'Изображение', ['n.image']) }}</th>
              <th>{{ knp_pagination_sortable(news_list, 'Описание', ['n.shortDescription']) }}</th>
              <th>{{ knp_pagination_sortable(news_list, 'Дата', ['n.createdAt']) }}</th>
              <th>Действия</th>
            </tr>
            </thead>

            <tbody>
            {% for news in news_list %}
              <tr>
                <td>{{ news.id }}</td>
                <td><a href="{{ path('news_single_page', {id: news.id}) }}" target="_blank"> {{ news.title }} </a></td>
                <td><img style="width: 100px" src="{{ asset(news.image) }}"></td>
                <td>{{ news.shortDescription }}</td>
                <td>{{ news.createdAt | date("Y/m/d H:i:s") }}</td>
                <td>
                  <ul class="icons-list">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-right">
                          {% if news.isHide %}
                            <li>
                              <a href="{{ path('news_show', {'id': news.getId}) }}">
                                <i class="icon-eye text-blue"></i>
                                Показать
                              </a>
                            </li>
                          {% else %}
                            <li>
                              <a
                                  href="{{ path('news_hide', {'id': news.getId}) }}">
                                <i class="icon-eye-blocked text-blue"></i>

                                Скрыть
                              </a>
                            </li>
                          {% endif %}
                        <li>
                          <a href="{{ path('news_edit', {'id': news.getId}) }}">
                            <i class="icon-pencil3"></i>
                            Изменить
                          </a>
                        </li>
                        <li>
                          <a
                              href="{{ path('news_remove', {'id': news.getId}) }}"
                              onclick="return confirm('Вы действительно хотите удалить эту новость?')"
                          >
                            <i class="icon-trash text-danger"></i>
                            Удалить
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
            {% if news_list.getTotalItemCount >= 20 %}
              <div class="panel-body text-center">
                  {{ knp_pagination_render(news_list, 'AppBundle:Pagination:pagination.html.twig') }}
              </div>
            {% endif %}
        </div>

      {% else %}
        <div class="panel panel-body">
          <h2 class="text-center">
            У вас нет новостей
          </h2>
        </div>
      {% endif %}
    </div>
  </div>

  <style>
    th a {
      color: white;
    }
  </style>
{% endblock %}
