{% extends '@app/admin_base.html.twig' %}
{% block title %}
  {{ news.title }}
{% endblock %}
{% block stylesheets %}
  {{ parent() }}

  <link href="{{ asset('admin/assets/css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
  <div class="panel">
    <section class="section section-secondary" style="background-color: #fff; padding: 0">
      <div class="new-black-block">
        <p class="news-card-title">
            {{ news.title }}
        </p>
        <div class="row news-card-image" style="background-image: url('{{ asset('uploads/') }}{{ news.imageUrl}}')">
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="card-text" style="padding: 24px 10px 74px 10px">
              {{ news.text | raw }}
          </div>
        </div>
      </div>
    </section>
  </div>

  <style>
    th a {
      color: white;
    }
  </style>
{% endblock %}
