<template>
  <div id="app">
    <TheNavbar />

    <TheNavbarClone />

    <RouterView />

    <RouterView name="callRequestForm"/>

    <TheFooter />

    <BackToTopButton />
  </div>
</template>

<script>
import TheNavbar from './components/TheNavbar';
import TheNavbarClone from './components/TheNavbarClone';
import TheFooter from './components/TheFooter';
import BackToTopButton from "./components/BackToTopButton";

export default {
  metaInfo: {
    title: 'Biyami | Территория правильного вкуса',
    titleTemplate: '%s | Biyami'
  },
  components: {
    BackToTopButton,
    TheFooter,
    TheNavbar,
    TheNavbarClone
  },
  mounted() {
    setTimeout(() => {
      document.body.scrollIntoView();
    }, 350);
  }
}
</script>

<style lang="scss">
  @import "~bulma";
  @import "../assets/css/core.css";
  @import "../assets/css/style.css";

  .testimonial blockquote .fa-icon:first-child {
    position: absolute;
    left: 20px;
    top: 35px;
    opacity: .3;
  }

  .testimonial blockquote .fa-icon:last-child {
    position: absolute;
    right: 20px;
    bottom: 35px;
    opacity: .3;
  }
</style>
