{% extends '@app/admin_base.html.twig' %}
{% block title %}
  Партнёры
{% endblock %}
{% block content %}
  <div class="panel">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h3 class="text-center">
            Всего партнёров ({{ partners.getTotalItemCount }})
          </h3>
        </div>
        <div class="col-xs-2 text-right">
          <a href="{{ path('partner_create') }}" class="btn bg-green-600">
            <i class="icon-plus3"></i>
            Создать
          </a>
        </div>
      </div>
    </div>

    <div class="panel-body">
      {% if partners.getTotalItemCount %}
        <div class="table-responsive table-padding-85" style="padding-bottom: 115px">
          <table class="table table-hover table-striped">
            <thead>
            <tr class="bg-green-600">
              <th>{{ knp_pagination_sortable(partners, 'ID', ['c.id']) }}</th>
              <th>{{ knp_pagination_sortable(partners, 'Ссылка', ['c.link']) }}</th>
              <th>{{ knp_pagination_sortable(partners, 'Картинка', ['c.imageUrl']) }}</th>
              <th>{{ knp_pagination_sortable(partners, 'Дата', ['c.createdAt']) }}</th>
              <th>Действия</th>
            </tr>
            </thead>

            <tbody>
            {% for partner in partners %}
              <tr>
                <td>{{ partner.id }}</td>
                <td><a href="{{ partner.link }}" target="_blank"> {{ partner.link }} </a></td>
                <td><img style="width: 100px" src="{{ asset(partner.getImage) }}"></td>
                <td>{{ partner.createdAt | date("Y/m/d H:i:s") }}</td>
                <td>
                  <ul class="icons-list">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-right">
                        {% if partner.isHide %}
                          <li>
                            <a href="{{ path('partner_show', {'id': partner.getId}) }}">
                              <i class="icon-eye text-blue"></i>
                              Показать
                            </a>
                          </li>
                        {% else %}
                          <li>
                            <a
                                href="{{ path('partner_hide', {'id': partner.getId}) }}">
                              <i class="icon-eye-blocked text-blue"></i>

                              Скрыть
                            </a>
                          </li>
                        {% endif %}
                        <li>
                          <a href="{{ path('partner_edit', {'id': partner.getId}) }}">
                            <i class="icon-pencil3"></i>
                            Изменить
                          </a>
                        </li>
                        <li>
                          <a
                              href="{{ path('partner_remove', {'id': partner.getId}) }}"
                              onclick="return confirm('Вы действительно хотите удалить этого партнёра?')"
                          >
                            <i class="icon-trash text-danger"></i>
                            Удалить
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
            {% if partners.getTotalItemCount >= 20 %}
              <div class="panel-body text-center">
                  {{ knp_pagination_render(partners, 'AppBundle:Pagination:pagination.html.twig') }}
              </div>
            {% endif %}
        </div>

      {% else %}
        <div class="panel panel-body">
          <h2 class="text-center">
            У вас нет категорий
          </h2>
        </div>
      {% endif %}
    </div>
  </div>

  <style>
    th a {
      color: white;
    }
  </style>
{% endblock %}
